.div_menu {
  text-transform: uppercase;
  background-color: black;
}
a {
  color: white;
}
.slider1 {
  margin-left: 40px;
}
p {
  text-align: justify;
}
.footer, .footer-alamat {
  text-align: center;
  color: white;
  background-color: black;
}
